:root {
    font-family: Arial, Helvetica, sans-serif;
    --main-font: midnightblue;
    --header-color: #def;
    --card-color: #eee;
    --shadow-color: lightsteelblue;
    --link-color: #009;
    --link-hover: #35d;
    --font-size-1: clamp(0.4rem, 0.4rem + 1vw, 1.1rem);
    --font-size-2: clamp(0.5rem, 0.4rem + 2vw, 1.1rem);
    --font-size-3: clamp(0.5rem, 0.5rem + 1vw, 1.1rem);
    --font-size-4: clamp(0.6rem, 0.4rem + 1vw, 1.25rem);
    --font-size-5: clamp(0.75rem, 0.5rem + 2vw, 1.5rem);
    --font-size-6: clamp(1.5rem, 0.5rem + 1vw, 2rem);
    --font-size-7: clamp(1.5rem, 0.65rem + 3vw, 4rem);
}

body,
h1,
h2,
h3,
h4 {
    margin: 0;
    color: var(--main-font);
}

.title {
    font-size: var(--font-size-7);
    text-align: center;
}

.active-link {
    text-decoration: underline;
}

h2 {
    color: var(--main-font);
}

ul {
    list-style: none;
}

body {
    line-height: 1.6;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-size: var(--font-size-5);
}

header {
    position: relative;
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
    background: var(--header-color);
    box-shadow: 0 0 1em var(--shadow-color);
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
    color: var(--link-hover);
}

.nav-list a:focus {
    text-decoration: underline;
    color: var(--link-hover);
    outline: 3px solid var(--link-hover);
    outline-offset: 5px;
}

img {
    display: block;
    max-width: 100%;
}

.logo {
    min-height: 77px;
    min-width: 131px;
}

main {
    margin-bottom: 2rem;
}


/* Start styling for desktop navn bar */

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus~.top-bar>.nav-toggle-label {
    outline: 2px solid var(--link-hover);
    outline-offset: 2px;
}

.nav-toggle-label {
    cursor: pointer;
}

nav {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 0;
    z-index: 10;
    opacity: 0.97;
}

.nav-list {
    background: var(--header-color);
    text-align: left;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul>* {
    margin: 0 0.5em;
    padding-inline: 0.5em;
}

nav a {
    font-size: var(--font-size-5);
    font-weight: 500;
}


/* End styling for desktop navn bar
######################################## */


/* Start styling for top bar - Mobile menu, search, account, cart */

.top-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    margin: 0;
    margin-left: 1.5rem;
}

.top-icon {
    max-width: 1.25em;
    padding-inline: 1.5em;
    aspect-ratio: 1 / 1;
}

.top-bar a:hover,
.top-bar a:focus {
    transform: none;
}

p {
    max-width: 90%;
}

p a:focus,
.top-bar a:focus {
    outline: 2px solid var(--link-hover);
    outline-offset: 1px;
}

.nav-toggle:checked~nav>.nav-list {
    display: block;
}


/* End styling for top bar
######################################## */


/* Start styling for categories */

.category-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.card {
    background: var(--card-color);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 0.5rem var(--shadow-color);
    transition: transform 500ms ease;
}

.card:hover {
    transform: none;
}

.card-title {
    opacity: 0.95;
    margin-left: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    background: white;
    padding-inline: 1.5rem;
    font-size: var(--font-size-6);
    color: var(--link-color);
    position: absolute;
    box-shadow: 0 0 0.5rem var(--shadow-color);
}

.card-btn {
    font-size: var(--font-size-4);
    text-align: center;
    color: var(--card-color);
    background-color: var(--link-color);
    border: 0;
    outline: none;
    display: inline-block;
    cursor: pointer;
    padding: 0.25em 0.8em;
    border-radius: 0.5em;
    overflow: hidden;
}

.card-btn:hover,
.item-btn:hover {
    text-decoration: none;
    background-color: var(--link-hover);
    color: var(--card-color);
}

.card-btn:focus,
.item-btn:focus {
    text-decoration: none;
    background-color: var(--link-hover);
    color: var(--card-color);
    box-shadow: 0 0 0 4px var(--card-color), 0 0 0 9px var(--link-hover);
}

.card-btn-container {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0;
}

.card-content {
    margin: auto;
}

.card-description {
    padding-top: 0;
    list-style-type: circle;
    font-size: var(--font-size-1);
    display: none;
}

.card-img {
    width: 70%;
    aspect-ratio: 4 / 3;
    margin-inline: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem var(--shadow-color);
}


/* End styling for categories
######################################## */


/* Start styling for items within the store */

.item-grid {
    display: grid;
    gap: 1em;
}

.item-card {
    display: grid;
    justify-content: left;
    align-content: start;
    width: clamp(20rem, 80vw, 60rem);
    background: var(--card-color);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 0.5rem var(--shadow-color);
    min-height: 7em;
    font-size: var(--font-size-3);
}

.item-title {
    font-size: clamp(0.6rem, 0.4rem + 2vw, 1.25rem);
    grid-column: 1 / span 3;
}

.item-img {
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem var(--shadow-color);
    width: clamp(11em, 10em + 2vw, 19em);
    margin-left: clamp(0.5em, 0em + 5vw, 5em);
}

.item-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40% 60%;
    place-content: start;
    margin-block: 0 auto;
    margin-inline: auto;
    width: clamp(15em, 10em + 2vw, 20em);
}

.item-options {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    padding-top: 0;
    padding-inline: 1em;
    width: clamp(11em, 10em + 2vw, 16em);
}

.item-desc {
    text-align: left;
}

.price {
    margin-left: 2em;
    text-align: right;
    font-weight: 700;
}

.price-box {
    background: white;
    box-shadow: 0 0 0.5rem var(--shadow-color);
    border-radius: 4px;
    border: 1px solid var(--link-hover);
    padding: 0.25em 0.8em;
}

.sale {
    color: white;
    background: red;
}

.sale-img {
    margin-top: 2em;
    margin-left: 1.5em;
    position: absolute;
    max-width: 5em;
}

.buy-item {
    margin-inline: auto;
    width: clamp(11em, 10em + 2vw, 16em);
}

.tool-select {
    color: var(--link-color);
    font-size: var(--font-size-2);
    width: 11ch;
    border: 1px solid var(--link-hover);
    border-radius: 4px;
    box-shadow: 0 0 0.5rem var(--shadow-color);
}

.item-btn {
    font-size: var(--font-size-3);
    text-align: center;
    color: var(--card-color);
    background-color: var(--link-color);
    border: 0;
    outline: none;
    display: inline-block;
    cursor: pointer;
    padding: 0.25em 0.8em;
    border-radius: 0.5em;
    overflow: hidden;
}

.sold-out {
    background: gray;
    color: black;
    cursor: initial;
}

.sold-out:hover {
    background: gray;
    color: black;
}

.buy-item a:focus:not(.item-btn),
.social-btn-container a:focus {
    color: var(--card-color);
    background: var(--link-hover);
    box-shadow: 0 0 0 9px var(--link-hover);
    border-radius: 3px;
    outline: none;
    transform: none;
}

.input-box-wrapper {
    background: white;
    padding: 2px;
}

.input-box-wrapper input {
    border: 0;
    outline: none;
}

.accessible-text {
    white-space: nowrap;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}


/* End styling for items
######################################## */


/* Start styling for gift card page */

.gift-card-wrapper {
    display: block;
}

.gift-card-input {
    color: var(--link-color);
    font-size: var(--font-size-2);
    width: 7ch;
}


/* End styling for gift card page
######################################## */


/* Start syling for search page and sort options */

.search-card {
    padding-block: 0;
    place-content: center;
    text-align: center;
}

.search {
    color: var(--link-color);
    font-size: var(--font-size-2);
    line-height: 1.6;
    min-width: 25ch;
    padding: 0 0.5em;
    margin-block: 1em;
    border: 1px solid var(--link-hover);
    border-radius: 4px;
    box-shadow: 0 0 0.5rem var(--shadow-color);
}

.search-submit {
    cursor: pointer;
    border: 0;
    background: transparent;
}

.sort-opt-container {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    place-items: center;
    place-content: start;
}

.sort-opt-container div:nth-child(2) {
    flex-grow: 1;
    text-align: right;
}

.sort-opt-container .tool-select {
    width: 15ch;
}


/* End styling for search page
######################################## */


/* Start syling for contact page */

.contact-container {
    display: grid;
}

.contact-container label {
    margin-top: 1em;
    text-align: left;
}

.contact-label {
    padding-top: 0;
}


/* End styling for items
######################################## */


/* Start syling for cart and */

.cart {
    margin-left: 1em;
    margin-block: 1em;
}

.cart-qty {
    width: 2ch;
    font-size: var(--font-size-3);
}

.cart .item-options {
    display: none;
}

.cart label {
    font-weight: 700;
}

.cart-btns {
    margin-right: 2em;
    text-align: right;
    justify-content: right;
}


/* End styling for cart
######################################## */

.orders {
    display: grid;
    grid-template-columns: 18em auto;
    gap: 0.5em;
}

.orders img {
    max-width: 8em;
}


/* Start syling for privacy page */

.privacy {
    font-size: var(--font-size-3);
    text-align: justify;
    /* text-justify: inter-word; */
}

.privacy ul {
    list-style: disc;
    max-width: 90%;
}

.privacy p {
    max-width: 95%;
}

.privacy a {
    font-weight: 700;
}


/* Start footer styling */

footer {
    background: var(--header-color);
    text-align: center;
    font-size: var(--font-size-1);
    box-shadow: 0 0 1em var(--shadow-color);
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 0 0 1.5rem; */
    padding: 0;
}

.footer-links a:focus {
    text-decoration: underline;
    color: var(--link-hover);
    outline: 2px solid var(--link-hover);
    outline-offset: 4px;
}

.footer-links li {
    margin-left: 1rem;
}

footer p {
    padding-block: 0.5em;
    margin: auto;
}

.social-btn-container {
    text-align: center;
    padding-bottom: 0;
    font-size: var(--font-size-2);
}


/* End footer styling
 ######################################## */


/* Media query to change layout for larger screen */

@media screen and (min-width: 701px) {
    header {
        min-height: 180px;
    }
    nav {
        top: 0;
        position: relative;
    }
    nav a {
        font-size: var(--font-size-4);
        font-weight: 700;
    }
    .nav-list {
        position: relative;
        flex-direction: row;
        display: flex;
    }
    .nav-toggle:checked~nav>.nav-list {
        position: relative;
        flex-direction: row;
        display: flex;
    }
    .top-bar a:hover,
    .top-bar a:focus {
        transform: scale(1.2);
    }
    .top-icon {
        padding-inline: 1.5rem;
    }
    .nav-toggle-label {
        display: none;
    }
    .category-grid {
        grid-template-columns: 1fr 1fr;
    }
    .card:hover {
        transform: scale(1.05);
    }
    .card-title {
        margin-left: 0;
    }
    .card-img {
        width: 90%;
    }
    .card-description {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .item-content {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
    }
    .item-options {
        margin: 0;
        flex-direction: column;
        padding-top: 0.5em;
    }
    .buy-item {
        margin: 0;
    }
    .buy-item i:hover:not(.item-btn),
    .social-btn-container i:hover {
        transform: scale(1.3);
    }
    .search {
        width: 48ch;
        overflow: auto;
    }
    p {
        max-width: 70%;
    }
    .contact-container {
        grid-template-columns: 15% 55%;
    }
    .cart .item-options {
        display: initial;
    }
}

.container {
    padding: 0 1.5rem;
    margin: 0 auto;
    width: clamp(20rem, 80vw, 60rem);
}
